/*-- scss:defaults --*/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$body-color: #1a1a1a;
$body-bg: #fff;
$link-color: #0645ad;
$link-decoration: none;
$navbar-light-bg: transparent;
$border-radius: 3px;
